*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { color: inherit; } 

@font-face {
  font-family:"nice";
  src: url("fonts/JetBrainsMono-Light.ttf") format("truetype");
}

@font-face {
  font-family:"medium";
  src: url("fonts/SFNSDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family:"light";
  src: url("fonts/SFNSDisplay-Thin.ttf") format("truetype");
}

#background-div{
  background-color: rgb(15, 23, 42);
  background-size: cover;
  height: 100vh;
}

#first{
  color: #E879F9;
  font-family: nice;
  font-size: 1rem;
}

#name {
  font-size: 5rem;
  padding-top: 1rem;
  color: white;
  font-family: medium;
}

.description{
  font-size: 1.3rem;
  color: #8892B0;
  font-family: medium;
  max-width: 500px;
  line-height: 1.5;
  text-align: left;
  margin: 2rem;
}

#name-desciption-div{
  display: inline-block;
  padding-left: 20rem;
  padding-top: 12rem;
}

header {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

header, #links, li {
  font-family: nice;
  list-style: none;
  display: inline-block;
  margin: 1rem;
  text-align: right;
  text-decoration: none;
  color: #8892B0;
}

header, #links, li:hover {
  color: #E879F9;
}

#wrapper{
  display: inline-block;
}

#social-links{
  color: #8892B0;
  text-decoration: none;
}

#social-links, a:hover{
  color: #E879F9;
}

h2{
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #8892B0;
  font-family: medium;
  font-size: 2rem;
}

.animate{
  color: #E879F9;
  font-family: medium;
}

#about-me{
  padding-top: 2rem;
  background-color: rgb(15, 23, 42);
  text-align: center;
  height: 100vh;
}

.pink{
  color: #E879F9;
  font-size: 3rem;
}

.grey{
  color: #8892B0;
}

#content{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.profile{
  width: 14%;
}

#projects{
  padding-top: 2rem;
  background-color: rgb(15, 23, 42);
  text-align: center;
  height: 100vh;
}